<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ByNoGame Proje - Ürün Ekleme</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
       <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <center><h1>Yeni Ürün Ekleme</h1> </center>
            <a href="/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-arrow-left"></i> Geri Dön</a>
          </div>
                <br>
                <form action="/product-add" method="post">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Ürün Id</label>
                    <div class="col-sm-4">
                      <input type="number" name="product_id" class="form-control" id="inputEmail3" placeholder="Ürün Kodu">
                    </div>
                  </div>
                   <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Ürün Adı</label>
                    <div class="col-sm-4">
                      <input type="text" name="name" class="form-control" id="inputPassword3" placeholder="Ürün Adı">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Ürün Stok Sayısı</label>
                    <div class="col-sm-4">
                      <input type="number" name="stock" class="form-control" id="inputPassword3" placeholder="Ürün Stok Sayısı">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Ürün Oluşturulma Tarihi</label>
                    <div class="col-sm-4">
                      <input type="datetime-local" name="create_date" class="form-control" id="inputPassword3" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Oluştur</button>  <a href="/" class="btn btn-primary" style="margin: 5px;">İptal</a>
                    </div>
                  </div>
                </form></br>
              
              
            </div>
       
          

          <!-- Content Row -->
          <div class="row">

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020 | Burak Onbasi</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
